.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #1f2937;
  color: white;
  width: 550px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  align-items: flex-start;
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2.5%;
  font-weight: 800;
}

h1 .secondColor {
  align-items: flex-start;
  color: #10b981;
  font-weight: 800;
}

#generatePasswordBtn {
  padding: 9px 17px 9px 15px;
  background-color: #10b981;
  border: 0px;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s ease;
  line-height: 24px;
}

#generatePasswordBtn:hover {
  background-color: #005539;
  color: white;
}
.passwordPlaceholder {
  margin-top: 30px;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background-color: #273549;
  color: #55f991;
  text-align: center;

  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#passwordContainer {
  display: flex;
  flex-direction: row; /* Mantiene los placeholders uno al lado del otro */
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #2f3e53;
  margin-top: 20px;
}

.password-item {
  display: flex;
  flex-direction: column; /* Coloca el botón debajo del placeholder */
  align-items: center;
}

.passwordPlaceholder {
  margin-top: 30px;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background-color: #273549;
  color: #55f991;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 10px; /* Espacio entre el placeholder y el botón */
}

.copy-btn {
  display: inline-flex;
  align-items: center;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  width: 211px; /* Ajusta el ancho del botón para que coincida con el placeholder */
}

.copy-btn i {
  margin-right: 8px;
}

.copy-btn:hover {
  background-color: #005539;
}

.copy-btn:active {
  background-color: #005539;
}

/* Estilos personalizados para SweetAlert2 */
.my-swal-container {
  background-color: #0000008e !important; /* Fondo del contenedor */
}

.my-swal-popup {
  background-color: #0d1624 !important; /* Fondo del modal */
  color: white !important; /* Color del texto */
  border-radius: 10px !important; /* Radio de borde opcional para estilizar */
}

.my-swal-title,
.my-swal-content {
  color: white !important; /* Color del texto en el título y contenido */
}

.my-swal-confirm-button {
  background-color: #10b981 !important; /* Color de fondo del botón */
  color: white !important; /* Color del texto del botón */
}

.my-swal-confirm-button:hover {
  background-color: #005539 !important; /* Color de fondo al pasar el cursor */
}
